table {
  background-color: initial;
}

::ng-deep .mat-paginator {
  background-color: initial;
}

th,
td {
  border-left: 1px solid rgba(0, 0, 0, 0.205);
  border-right: 1px solid rgba(0, 0, 0, 0.205);
  padding: 10px;
  white-space: nowrap;
}
th {
  border-top: 1px solid rgba(0, 0, 0, 0.205);
}
.text-vertical {
  border-left: 10px solid #4ecdff !important;
}

* {
  color: rgb(51, 51, 51) !important;
  font-weight: 900 !important;
}
