<form [formGroup]="requestForm">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">

    <div fxFlex="100" class="title-head">
      <div fxLayout="row wrap" fxLayoutAlign="center start">
        <div fxFlex="40" fxFlex.sm="100">
          <h1 style="text-align: center; margin:auto; text-transform: uppercase;">Reliability Test Request Form</h1>
        </div>
        <div fxFlex="40" fxFlex.sm="100">
          <h1 style="margin:auto;">CONTROL NO.{{this.requestForm.value.controlNo}}</h1>
        </div>
      </div>
    </div>


    <mat-divider fxFlex="100" style="margin: 10px 0;"></mat-divider>

    <div fxFlex="40" fxFlex.sm="100" style="padding: 10px;background-color: rgba(0,0,0,.04); margin: 10px 0;">
      <label>Request status: </label>
      <mat-radio-group formControlName="requestStatus">
        <mat-radio-button value="normal" style="padding: 0 10px;">Normal</mat-radio-button>
        <mat-radio-button value="urgent" style="padding: 0 10px;">Urgent</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>AMT/DST</mat-label>
      <mat-select formControlName="corporate" name="corporate" (selectionChange)="onSelectCorporate()">
        <mat-option *ngFor="let cor of corporate" [value]="cor.value">
          {{cor.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>Model No.</mat-label>
      <mat-select formControlName="modelNo" name="modelNo" (selectionChange)="onSelectModelNo(); onSelectCorporate();">
        <ng-container *ngFor="let item of models; let i=index">
          <mat-option [value]="item.modelNo">
            {{item.modelNo}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>Model Name</mat-label>
      <input formControlName="modelName" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>Size</mat-label>
      <input formControlName="size" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>Customer</mat-label>
      <input formControlName="customer" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>Lot no.</mat-label>
      <input formControlName="lotNo" matInput>
    </mat-form-field>


    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100">
      <mat-label>Section</mat-label>
      <input [readonly]="true" formControlName="department" matInput>
      <!-- <mat-select [disabled]="true" formControlName="department" name="department"
        (selectionChange)="onSelectCorporate()">]
        <mat-option *ngFor="let department of departments; let i=index" [value]="department.name">
          {{department.name |uppercase}}</mat-option>
      </mat-select> -->
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" class="mb-10">
      <mat-label>Request Date</mat-label>
      <input [disabled]="true" formControlName="requestDate" matInput [matDatepicker]="picker1" [readonly]="true"
        (click)="picker1.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" fxFlexAlign="start" class="mb-10">
      <mat-label>Sample send to QE within date</mat-label>
      <input formControlName="sampleSentToQE_withinDate" [min]="minDate" matInput [matDatepicker]="picker6"
        (click)="picker6.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
      <mat-datepicker #picker6></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" class="mb-10">
      <mat-label>Concern Shipment Date</mat-label>
      <input formControlName="concernShipmentDate" [min]="minDate" matInput [matDatepicker]="picker2"
        (click)="picker2.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" class="mb-10">
      <mat-label>Input to production date</mat-label>
      <input formControlName="inputToProductionDate" [min]="minDate" matInput [matDatepicker]="picker3"
        (click)="picker3.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" class="mb-10">
      <mat-label>Concern Customer Date</mat-label>
      <input formControlName="concernCustomerDate" [min]="minDate" matInput [matDatepicker]="picker4"
        (click)="picker4.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" class="mb-10">
      <mat-label>Report Require Date</mat-label>
      <input formControlName="reportRequireDate" [min]="minDate" matInput [matDatepicker]="picker5"
        (click)="picker5.open()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
      <mat-datepicker #picker5></mat-datepicker>
    </mat-form-field>




    <mat-form-field appearance="fill" fxFlex="40" fxFlex.sm="100" fxFlexAlign="start">
      <mat-label>Sample Description</mat-label>
      <textarea matInput rows="5" formControlName="sampleDescription"></textarea>
    </mat-form-field>

    <ng-container *ngIf="!data; else elseTemplate">
      <mat-list fxFlex="40" fxFlex.sm="100" fxFlexAlign="start">
        <div mat-subheader style="padding-left: 0;">
          Files
          <button *ngIf="!fileProgress" mat-button mat-stroked-button matRipple [matRippleCentered]="true" color="warn"
            [ngClass]="{'primary': requestForm.controls.files.valid}" style="margin-left: 10px;"
            (click)="fileUpload.click()">Choose
            file...</button>
          <mat-progress-bar *ngIf="fileProgress" mode="indeterminate"></mat-progress-bar>
          <input hidden type="file" #fileUpload multiple (change)="onUploadFile($event);">
        </div>
        <mat-list-item *ngFor="let file of tempUpload; let i=index">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{file.name}} {{file.size |fileSize }}</div>
          <button mat-icon-button color="primary" (click)="onClickViewFile(file);">
            <span class="material-icons-outlined">
              pageview
            </span>
          </button>
          <button mat-icon-button color="warn" (click)="onClickDeleteFile(file);">
            <span class="material-icons-outlined">
              close
            </span>
          </button>

        </mat-list-item>
      </mat-list>
    </ng-container>

    <ng-template #elseTemplate>
      <mat-list fxFlex="40" fxFlex.sm="100" fxFlexAlign="start">
        <div mat-subheader style="padding-left: 0;">
          Files
          <button *ngIf="!fileProgress" mat-button mat-stroked-button matRipple [matRippleCentered]="true" color="warn"
            [ngClass]="{'primary': requestForm.controls.files.valid}" style="margin-left: 10px;"
            (click)="fileUpload.click()">Choose
            file...</button>
          <mat-progress-bar *ngIf="fileProgress" mode="indeterminate"></mat-progress-bar>
          <input hidden type="file" #fileUpload multiple (change)="onCreateFiles($event);">
        </div>
        <mat-list-item *ngFor="let file of requestForm.value.files; let i=index">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{file.name}} {{file.size |fileSize }} ({{file.date |date:'d/M/yy, h:mm a'}})</div>
          <button mat-icon-button color="primary" (click)="onClickViewFile(file);">
            <span class="material-icons-outlined">
              pageview
            </span>
          </button>
          <button mat-icon-button color="warn" (click)="onClickRemoveFile(file);">
            <span class="material-icons-outlined">
              close
            </span>
          </button>

        </mat-list-item>
      </mat-list>

    </ng-template>






    <div fxFlex="40" fxFlex.sm="100">
    </div>

  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around stretch">
    <button fxFlex="30" mat-raised-button color="accent" (click)="onCancel()">
      <span class="material-icons-outlined">
        keyboard_double_arrow_left
      </span>
      <span class="btn-back">
        Cancel
      </span>
    </button>
    <button [disabled]="requestForm.invalid" fxFlex="30" mat-raised-button color="primary" (click)="onNext()">

      <span class="material-icons-outlined">
        keyboard_double_arrow_right
      </span>
      <span class="btn-next">
        Next
      </span>
    </button>
  </div>
</form>