<table fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100">
    <tr>
        <td style="text-align: center; padding: 20px;">
            QE WINDOW PERSON By
        </td>
        <td style="text-align: center;">
            QE ENGINEER By
        </td>
        <td style="text-align: center;">
            QE SECTION HEAD By
        </td>
        <td style="text-align: center;">
            QE DEPARTMENT HEAD By
        </td>
    </tr>
    <tr>
        <td style=" padding: 50px; text-align: center;">
            {{showUserQEWindow('name')}}
        </td>
        <td style=" padding: 50px; text-align: center;">


        </td>
        <td style=" padding: 50px; text-align: center;">


        </td>
        <td style=" padding: 50px; text-align: center;">


        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 20px">
            {{showUserQEWindow('time')}}
        </td>
        <td style="text-align: center;">

        </td>
        <td style="text-align: center;">

        </td>
        <td style="text-align: center;">

        </td>
    </tr>
    <tr>
        <td style="text-align: center; padding: 20px">
            Engineer or Upper Level
        </td>
        <td style="text-align: center;">
            Engineer or Upper Level
        </td>
        <td style="text-align: center;">
            Engineer or Upper Level
        </td>
        <td style="text-align: center;">
            Engineer or Upper Level
        </td>
    </tr>
</table>