.group-list {
    margin-left: 10px;
}

.btn-add-list {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.w-50 {
    width: 50%;
}

.material-icons-outlined {}

.btn-green {
    color: green;
}

.list-content {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.btn-del-list-item {
    cursor: pointer;
}