<h4>Testing Type</h4>
<mat-dialog-content class="mat-typography">
  <div [formGroup]="TestingTypeForm">
    <mat-form-field class="w-full" appearance="legacy">
      <mat-label>Group</mat-label>
      <input matInput formControlName="group">
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="oven">Oven</mat-option>
        <mat-option value="noOven">No Oven</mat-option>
        <mat-option value="mix">Mix</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="list-content" formArrayName="list" *ngFor="let item of getList(); let i = index;">
      <div [formGroupName]="i" class="group-list" style="padding: 20px;">

        <mat-form-field class="w-full" appearance="legacy">
          <mat-label>List Name</mat-label>
          <input matInput formControlName="name" placeholder="Low Temperature">
          <span matSuffix (click)="deleteList(i)" class="material-icons-outlined btn-del-list-item">
            delete
          </span>
        </mat-form-field>

        <mat-form-field *ngIf="optionFunctionChamber" class="w-full" appearance="fill">
          <mat-label>Function Chamber</mat-label>
          <mat-select disableRipple formControlName="value">
            <mat-option *ngFor="let item of optionFunctionChamber; let i=index" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div formGroupName="description">
          <mat-slide-toggle formControlName="status">description status</mat-slide-toggle>
        </div>


      </div>
      <hr>
    </div>
    <button mat-raised-button class="btn-add-list" color="primary" (click)="onAddList();">
      List
      <span class="material-icons-outlined btn-green">
        add
      </span>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <ng-container *ngIf="data; else elseTemplate">
    <button mat-button color="primary" (click)="save()">Save</button>
  </ng-container>
  <ng-template #elseTemplate>
    <button mat-button color="primary" (click)="submit()">Add</button>
  </ng-template>

</mat-dialog-actions>