<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="over-flow">

  <div fxFlex.gt-md="60" fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center stretch" class="content-item mt-2">

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
      <span class="box-title"> Approver </span>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch">
      <button mat-button color="primary" (click)="openDialog();">
        <span class="material-icons-outlined">
          playlist_add
        </span>
        <span>
          NEW APPROVER
        </span>
      </button>
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
      <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="">
        <table fxFlex="100" mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> position </th>
            <td mat-cell *matCellDef="let row;let i = index"> {{row.position}} </td>
          </ng-container>

          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> level </th>
            <td mat-cell *matCellDef="let row"> {{row.level }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
            <td mat-cell *matCellDef="let row"> {{row.status }} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
            <td mat-cell *matCellDef="let row"> {{row.name }} </td>
          </ng-container>


          <ng-container matColumnDef="groupStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> groupStatus </th>
            <td mat-cell *matCellDef="let row"> {{row.groupStatus? 'available':'not available' }} </td>
          </ng-container>

          <ng-container matColumnDef="groupList">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> group CC </th>
            <td mat-cell *matCellDef="let row">
              <ul>
                <li *ngFor="let item of row.groupList; let i=index">
                  {{item.name}}
                </li>
              </ul>
            </td>
          </ng-container>



          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button color="primary" (click)="onEdit(row)" style="margin-right: 10px;">
                <span class="material-icons-outlined">
                  edit
                </span>
              </button>

              <button mat-icon-button color="warn" (click)="onDelete(row)">
                <span class="material-icons-outlined">
                  delete
                </span>
              </button>

            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"
            </td>
          </tr>
        </table>

        <mat-paginator fxFlex="100" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
      </div>

    </div>


  </div>








</div>