.t-head-1 {
  background-color: #8fbc8f;
  margin: 0;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.t-head-2 {
  background-color: #cd5c5c;
  margin: 0;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}
