.box-content {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-icon {
  color: #3e75ff;
}
.font-red {
  color: red;
}
.font-grey {
  color: grey;
}
.font-blue {
  color: blue;
}
.font-yellow {
  color: #d82be7;
}
.font-orange {
  color: orange;
}
.font-green {
  color: green;
}
.fb {
  font-weight: bold;
}

.foo {
  background-color: #ffad2e !important;
}

th {
  text-transform: uppercase;
}
td.mat-cell {
  padding: 10px;
}
th.mat-header-cell {
  padding: 10px;
}
.text-ongoing {
  color: rgb(107 206 107);
  font-weight: 900;
}

.text-color0{
  font-weight: bold;
}
.text-color1{
  color: #333333; /* Dark Gray */
}
.text-color2{
  color: #FF4500; /* Orange Red */
}
.text-color3{
  color: #228B22; /* Forest Green */
}
.text-color4{
  color: #6A5ACD; /* Slate Blue */
}
.text-color5{
  color: #1E90FF; /* Dodger Blue */
}
.text-color6{
  color: #DAA520; /* Goldenrod */
}
.text-color7{
  color: #D2691E; /* Chocolate */
}
.text-color8{
  color: #708090; /* Slate Gray */
}
.text-color9{
  color: #9932CC; /* Dark Orchid */
}
.text-color10{
  color: #CD853F; /* Peru */
}
