<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="over-flow">



  <div fxFlex.gt-md="95" fxFlex="95" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="10"
    class="content-item2 mt-2">

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch">
      <button mat-stroked-button color="primary" (click)="onNew()" style="margin-top: 1rem;">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
          <span class="material-icons-outlined">
            add_circle
          </span>
          <span>
            New
          </span>
        </div>
      </button>
    </div>

    <ng-container *ngFor="let item of dataSet; let i=index">
      <div class="card">
        <button class="edit-button" (click)="edit(item)">
          <span class="material-icons-outlined">
            edit
          </span>
        </button>
        <section (click)="openDialog(item.preview)" class="landscape-section"
          [ngStyle]="{'background-image': 'url(' + item.preview + ')'}">
        </section>
        <section class="content-section">
          <div class="forecast">
            <div>
              <p class="title">{{item.name}}</p>
            </div>
            <div>
              <p>
                {{item.description}}
              </p>
            </div>
          </div>
        </section>
      </div>
    </ng-container>

  </div>


</div>
<div id="imageDialog" class="dialog" (click)="closeDialog()">
  <div class="dialog-content">
    <span class="close-button" (click)="closeDialog()">&times;</span>
    <img [src]="preview" alt="Expanded Image" class="full-screen-image">
  </div>
</div>
