/* SCCS alternative */
.mat-calendar-body-active {
  .mat-calendar-body-today {
    color: red;
    background-color: blue;
  }
}

/* CSS alternative */
.mat-calendar-body-active > .mat-calendar-body-today {
  color: red;
  background-color: blue;
}
