<div fxLayout="row wrap" fxLayoutAlign="start center">
  <button mat-raised-button (click)="handlePrint()">
    PRINT
  </button>

  <ng-container *ngIf="codes">
    <div *ngFor="let code of codes; let i=index" id="print"
      style=" margin: 10px; padding: 10px; text-align: center; font-weight: bold; background-color: white;">

      <div fxLayout="row wrap" fxLayoutAlign="start start" style="width: 500px; height: 200px;" class="">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="b" style="padding: 2px 5px 2px 2px;">
          Date: <span style="font-size: 14px; margin-left: 5px;">{{date}}</span>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch">
          <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="center stretch">
            <div fxFlex="100" fxLayoutAlign="center center" class="padding bl bb br">
              Location :
            </div>
            <div fxFlex="100" fxLayoutAlign="center center" class="padding bl bb br" style="font-size: 14px;">
              {{code.location}}
            </div>
            <div fxFlex="100" fxLayoutAlign="center center" class="padding bl bb br">
              Name :
            </div>
            <div fxFlex="100" fxLayoutAlign="center center" class="padding bl bb br" style="font-size: 14px;">
              {{code.name}}
            </div>
          </div>
          <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center stretch">
            <div fxFlex="100" fxLayoutAlign="center center" class="padding bb br">
              Reliability tag.
            </div>

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
              <div fxFlex="50" fxLayoutAlign="center stretch" class="bb" >
                <img [src]="code.qrcode" alt="" style="width: 125px; height: 125px;">
              </div>
              <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center stretch">
                <div fxFlex="100" fxLayoutAlign="center center" class="bl br">
                  Equipment No :
                </div>
                <div fxFlex="100" fxLayoutAlign="center center" class="bl bb br" style="font-size: 14px;">
                  {{code.no}}
                </div>
                <div fxFlex="100" fxLayoutAlign="center center" class="bl br">
                  Code :
                </div>
                <div fxFlex="100" fxLayoutAlign="center center" class="bl bb br" style="font-size: 14px;">
                  {{code.code}}
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="10" fxLayoutAlign="center center" class="bb br">
            <img src="./assets/text4.png" alt="" style="width: 22px; height: 161px;">
          </div>
        </div>
      </div>

    </div>
  </ng-container>

</div>
