<div fxLayout="row wrap" fxLayoutAlign="start center">


  <ng-container *ngIf="codes">
    <div *ngFor="let code of codes; let i=index" id="print" style=" margin: 10px; padding: 10px; text-align: center; font-weight: bold; background-color: white;">


      <table cellspacing="0" border="0">
        <colgroup width="64"></colgroup>
        <colgroup width="60"></colgroup>
        <colgroup span="6" width="64"></colgroup>
        <tr>
          <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" rowspan=8 height="173" align="center" valign=bottom>
          <img src="./assets/text2.png" alt="">
          </td>
          <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=4 rowspan=2 align="center" valign=middle><font color="#000000">Code :</font></td>
          <td style="height: 40px; border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle><font color="#000000">Location :</font></td>
          </tr>
        <tr>
          </tr>
        <tr>
          <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=6 align="center" valign=middle><font color="#000000">
            <img [src]="code.qrcode" alt="" style="width: 120px; height: 120px;">
          </font></td>
          <td style="height: 48px; vertical-align: middle; border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=3 align="center" valign=top><font color="#000000">Equipment No.</font></td>
          <td style="height: 40px; border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle><font color="#FF0000">XXXXXXXXX</font></td>
          </tr>
        <tr>
          </tr>
        <tr>
          <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle><font color="#000000">Name :</font></td>
          </tr>
        <tr>
          <td style="vertical-align: middle; border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=2 rowspan=3 align="center" valign=top><font color="#000000">Reliability tag.</font></td>
          </tr>
        <tr>
          <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=3 rowspan=2 align="center" valign=middle><font color="#FF0000">

            {{code.code}}

          </font></td>
          </tr>
        <tr>
          </tr>
        <tr>
          <td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan=8 height="22" align="right" valign=bottom><font color="#FF0000">xxxxxxxxx</font></td>
          </tr>
      </table>

    </div>
  </ng-container>
  <button mat-raised-button (click)="handlePrint()">
    PRINT
  </button>
</div>
