*{
  font-weight: 900;
  color: black;
  font-size: 16px;
}
.padding{
  padding: 10px;
}
.b{
  border: 1px solid black;
}
.bt{
  border-top: 1px solid black;
}
.br{
  border-right: 1px solid black;
}
.bb{
  border-bottom: 1px solid black;
}
.bl{
  border-left: 1px solid black;
}
