<form>
    <div fxLayout="row wrap" fxLayoutAlign="start start" style="margin-top: 40px;">
        <div fxFlex="100" *ngFor="let purpose of testPurposes">
            <mat-radio-button [value]="purpose.name" [ngClass]="{mb10: purpose['description'].status==false}" (change)="onCheckRadio($event,purpose)" fxLayoutAlign="start center" style="margin-right: 10px;">
                {{purpose.name}}
            </mat-radio-button>
            <mat-form-field *ngIf="purpose['description'].status" fxFlex="auto" class="full-width" appearance="legacy">
                <mat-label>description</mat-label>
                <input [disabled]="!purpose.checked" [id]="purpose._id" (change)="onInputDescription($event)" matInput class="full-width">
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
        <button fxFlex="100" mat-button matStepperNext (click)="onSave()">Save</button>
    </div>
</form>