<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="onClickSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Reliability Test</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span class="material-icons-outlined">
            account_circle
        </span>

    </button>
    <span class="nav-login">{{userLogin}}</span>
    <button (click)="onLogout()" mat-icon-button class="example-icon" style="margin-left: 5px;" aria-label="Example icon-button with share icon">
        <span class="material-icons-outlined">
            logout
        </span>
    </button>
</mat-toolbar>