<div fxLayoutAlign="start stretch" fxLayout="row wrap" class="content-item">
  <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
      <span class="box-title"> QE Receive </span>
    </div>

    <div *ngIf="form" class="box-body" fxFlex="100" fxLayoutAlign="space-between stretch" fxLayout="row wrap">
      <mat-form-field fxFlex="45" fxFlex.lt-md="100" appearance="fill">
        <mat-label>Qty</mat-label>
        <input [disabled]="disable" matInput type="number" [(ngModel)]="form.qeReceive.qty"
          (ngModelChange)="update()" />
      </mat-form-field>

      <mat-form-field fxFlex="45" fxFlex.lt-md="100" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [disabled]="disable" [matDatepicker]="picker" readonly="true" [(ngModel)]="form.qeReceive.date"
          (dateChange)="update()" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div *ngIf="!form.qeReceive.qty || !form.qeReceive.date" fxFlex="100">
      <h4 style="background-color: rgb(250, 121, 121); padding: 10px;">
        Please fill qty and date
      </h4>
    </div>
  </div>
</div>
