.ul-hover {
    cursor: pointer !important;
}

.ul-hover :hover {
    text-decoration: underline !important;
    color: blue !important;
}

th,
td {
    padding: 10px;
    border: 1px solid black;
    text-align: -webkit-center;
}

.item>th,
.item>td {
    border: 0;
}

table {
    border-collapse: collapse;
}

.row-hover:hover {
    background-color: #b8d4b2 !important;
}