<div fxLayout="row wrap" fxLayoutAlign="space-around start" style="margin-top: 40px;" class="content-item">


    <!-- <mat-divider fxFlex="100" style="margin: 20px 0 ;"></mat-divider> -->

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap" style="margin-top: 20px;">

        <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
            <span class="box-title">
        Test Purpose
      </span>
        </div>

        <div class="box-body" fxFlex="100" fxLayoutAlign="space-between stretch" fxLayout="row wrap">

            <mat-form-field fxFlex="auto" appearance="legacy">
                <mat-label>Test Purpose </mat-label>
                <input [readonly]="true" [value]="step2.purpose" matInput>
            </mat-form-field>

            <mat-form-field *ngIf="step2.description.status" fxFlex="auto" appearance="legacy">
                <mat-label>Description </mat-label>
                <input [readonly]="true" [value]="step2.description.value" matInput>
            </mat-form-field>

        </div>

    </div>


</div>