<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" class="over-flow ">


  <div fxFlex="95" fxFlex.xl="95" fxFlex.lg="95" fxLayout="row wrap" fxLayoutAlign="center start"
    class="content-item mt-2">

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
      <span class="box-title"> Table Request Revises</span>
    </div>

    <div fxFlex="100" fxLayoutAlign="center stretch" fxLayout="row wrap" style="overflow: auto;">

      <mat-form-field fxFlex="100" appearance="standard">
        <mat-label>Search...</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <table fxFlex="100" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="controlNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTROL NO. </th>
          <td mat-cell *matCellDef="let row"> {{row.controlNo}} </td>
        </ng-container>

        <ng-container matColumnDef="purpose">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PURPOSE </th>
          <td mat-cell *matCellDef="let row">
            {{row.purpose?.purpose}}
            <p *ngIf="row.purpose?.description.status">{{row.purpose?.description.value}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="requestSubject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> request Subject </th>
          <td mat-cell *matCellDef="let row"> {{row.requestSubject}} </td>
        </ng-container>

        <ng-container matColumnDef="userRequest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> USER REQUEST</th>
          <td mat-cell *matCellDef="let row"> {{row.userRequest |uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="modelNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MODEL </th>
          <td mat-cell *matCellDef="let row"> {{row.modelNo}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
          <td mat-cell *matCellDef="let row" class="fb" [class]="row.btn_css"> {{htmlStatus(row.status)}} </td>
        </ng-container>

        <ng-container matColumnDef="ongoing">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> On going To (hrs.) </th>
          <td mat-cell *matCellDef="let row">
            <!-- <span *ngIf="row?.nextApprove?.name">{{row.nextApprove.name |uppercase}}</span> -->
            {{htmlOngoingTo(row)}}
          </td>
        </ng-container>


        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let row">

            <button mat-raised-button color="warn" [disabled]="row.btn_status" (click)="handleRevise(row)">

              {{row.btn_text}}
            </button>
          </td>
        </ng-container>



        <ng-container matColumnDef="btn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let row" style="padding: 0 !important; ">
            <button mat-icon-button color="primary" (click)="onClickView(row)">
              <span class="material-icons-outlined">
                zoom_in
              </span>
            </button>

          </td>
        </ng-container>


        <!-- <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
          <td mat-cell *matCellDef="let row"> {{htmlStatus(row.status)}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data </td>
        </tr>
      </table>



      <mat-paginator fxFlex="100" [pageSizeOptions]="pageSizeOptions" aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>






</div>