<div fxFlex="100" fxLayoutAlign="space-around stretch" fxLayout="row wrap" class="content-item">
  <button *ngIf="back" fxFlex="30" mat-flat-button color="accent" (click)="onBack()">
    <span class="material-icons-outlined">
      keyboard_double_arrow_left
    </span>
    BACK
  </button>

  <button *ngIf="reject" fxFlex="30" mat-flat-button color="warn" [disabled]="validAuth()" (click)="onReject()">
    <span class="material-icons-outlined">
      close
    </span>
    REJECT
  </button>

  <button *ngIf="data.status!='qe_window_person_report'" [disabled]="validAuth()" fxFlex="30" mat-flat-button
    color="primary" (click)="onApprove()">
    <span class="material-icons-outlined">
      done_all
    </span>
    APPROVE
  </button>

  <button *ngIf="data.status=='qe_window_person_report'" [disabled]="validFinish()" fxFlex="30" mat-flat-button
    color="primary" (click)="onApprove()">
    <span class="material-icons-outlined">
      done_all
    </span>
    FINISH
  </button>
</div>