<div fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxFlex="100" fxLayoutAlign="end stretch">
        <button mat-icon-button color="primary" (click)="openDialog();">
            <span class="material-icons-outlined">
                add
            </span>
        </button>

    </div>
    <!-- <mat-form-field fxFlex="100" appearance="legacy">
        <mat-label>Search</mat-label>
        <input matInput #keySearch (input)="onUserFilter(keySearch.value)">
    </mat-form-field> -->

    <mat-form-field fxFlex="100" appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" style="min-width: 500px;">

        <table fxFlex="100" mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            <ng-container matColumnDef="list">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> List </th>
                <td mat-cell *matCellDef="let row">
                    <ul>
                        <li *ngFor="let list of row.list; let i=index">
                            {{list.name}}
                        </li>
                    </ul>
                </td>
            </ng-container>
            <ng-container matColumnDef="action_edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onEdit(row);">Edit</button>
                        <button mat-menu-item (click)="onDelete(row);">Delete</button>
                    </mat-menu>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data </td>
            </tr>
        </table>

        <mat-paginator fxFlex="100" [pageSizeOptions]="pageSizeOptions" aria-label="Select page of users">
        </mat-paginator>
    </div>


    <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
        <table class="table" fxFlex="100">
            <thead>
                <tr>
                    <th style="text-align: start;">No.</th>
                    <th style="text-align: start;">group</th>
                    <th style="text-align: start;">condition</th>
                    <th width="10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let master of filteredMaster; let i=index">
                    <td style="vertical-align: text-top;">{{i+1}}</td>
                    <td style="vertical-align: text-top;">{{master.group}}</td>
                    <td>
                        <ul *ngFor="let li of master.list; let i=index">
                            <li>
                                {{li.name}}
                                <ul>
                                    <li *ngFor="let a of li.listItem; let i=index">
                                        {{a.name}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td style="text-align: center; vertical-align: text-top;">
                        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onEdit(master);">Edit</button>
                            <button mat-menu-item (click)="onDelete(master);">Delete</button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>

        </table>
    </div> -->



</div>