<div fxLayoutAlign="center stretch" fxLayout="row wrap" class="overflow">
  <div *ngIf="formRevise" fxFlex.gt-md="80" fxFlex.lt-md="100" fxLayoutAlign="center stretch" fxLayout="row wrap"
    class=" mtb-4 ">

    <app-views [showTest]="false" [showReport]="false" fxFlex="100" [formInput]="formRevise"></app-views>
    <app-revises-form fxFlex="100" [hide]="true" [step1]="formRevise.formSubmit.step1"
      [step2]="formRevise.formSubmit.step2" [step3]="formRevise.formSubmit.step3"
      [data]="formRevise.formSubmit.data"></app-revises-form>

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap" class="mb-3">
      <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <span class="box-title">
          QE Receive
        </span>
      </div>
      <div *ngIf="formRevise" class="box-body" fxFlex="100" fxLayoutAlign="space-between stretch" fxLayout="row wrap">
        <mat-form-field fxFlex="45" fxFlex.lt-md="100" appearance="fill">
          <mat-label>Qty</mat-label>
          <input matInput type="number" [(ngModel)]="formRevise.qeReceive.qty" (ngModelChange)="updateQEReceive()">
        </mat-form-field>

        <mat-form-field fxFlex="45" fxFlex.lt-md="100" appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" readonly="true" [(ngModel)]="formRevise.qeReceive.date"
            (dateChange)="updateQEReceive()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


    <app-table-planing *ngIf="dataSource" fxFlex="100" [dataTable]="dataSource"></app-table-planing>

    <app-revises-queues *ngIf="queuesForm && formRevise" fxFlex="100" [queuesForm]="queuesForm"
      [formRevise]="formRevise"></app-revises-queues>

    <mat-form-field fxFlex="100" appearance="fill" class="content-item">
      <mat-label>SEND TO...</mat-label>
      <mat-select [compareWith]="objectComparisonFunction" [(ngModel)]="approve.selected">
        <mat-option *ngFor="let item of userApproveList; let i=index" [value]="item">
          {{approve.groupStatus? approve.name: item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="content-item">
      <button fxFlex="30" mat-raised-button color="warn" (click)="onReject()">
        <span class="material-icons-outlined">
          close
        </span>
        <span class="btn-back">
          Reject
        </span>
      </button>
      <button fxFlex="30" mat-raised-button color="primary" [disabled]="!approve.selected" (click)="onNext()">

        <span class="material-icons-outlined">
          done_all
        </span>
        <span class="btn-next">
          APPROVE
        </span>
      </button>
    </div>

  </div>
</div>