<div fxLayoutAlign="center stretch" fxLayout="row wrap" class="overflow">
  <div *ngIf="formRevise" fxFlex.gt-md="80" fxFlex.lt-md="100" fxLayoutAlign="center stretch" fxLayout="row wrap"
    class=" mtb-4 ">

    <app-views [showTest]="false" [showReport]="false" fxFlex="100" [formInput]="formRevise"></app-views>
    <!-- <ng-container *ngIf="formRevise.qeReceive.qty">



    </ng-container> -->

    <app-table-planing *ngIf="dataSource" fxFlex="100" [dataTable]="dataSource"></app-table-planing>

    <app-revises-queues *ngIf="queuesForm && formRevise" fxFlex="100" [queuesForm]="queuesForm"
      [formRevise]="formRevise"></app-revises-queues>

    <mat-form-field fxFlex="100" appearance="fill" class="content-item">
      <mat-label>SEND TO...</mat-label>
      <mat-select [compareWith]="objectComparisonFunction" [(ngModel)]="approve.selected">
        <mat-option *ngFor="let item of userApproveList; let i=index" [value]="item">
          {{approve.groupStatus? approve.name: item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="content-item">
      <button fxFlex="30" mat-raised-button color="warn" (click)="onReject()">
        <span class="material-icons-outlined">
          close
        </span>
        <span class="btn-back">
          Reject
        </span>
      </button>
      <button fxFlex="30" mat-raised-button color="primary" [disabled]="!approve.selected" (click)="onNext()">

        <span class="material-icons-outlined">
          done_all
        </span>
        <span class="btn-next">
          APPROVE
        </span>
      </button>
    </div>

  </div>
</div>
