<div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
    <app-temp-form fxFlex="33" [icon]="icon" [titleText]="titleText" (formInputChange)="emit()" [(formInput)]="form.temp">
    </app-temp-form>
    <app-operate-form fxFlex="33" (formInputChange)="emit()" [(formInput)]="form.operate">
    </app-operate-form>

    <app-sample-form fxFlex="33" (formInputChange)="emit()" [(formInput)]="form.sampleNo"></app-sample-form>
    <app-qty-form fxFlex="33" (formInputChange)="emit()" [(formInput)]="form.qty"></app-qty-form>
    <app-time-inspec-form fxFlex="33" [title]="'Inspection Time'" (formInputChange)="emit()" [(formInput)]="form.timeInspection">
    </app-time-inspec-form>

    <app-time-inspec-form fxFlex="33" [title]="'Report Time'" (formInputChange)="emit()" [(formInput)]="form.timeReport">
    </app-time-inspec-form>


</div>
