<div fxFlex="90" fxLayoutAlign="start stretch" fxLayout="row wrap">
    <div fxFlex="100">
        <app-temp-form fxFlex="50" [icon]="'thermostat'" (formInputChange)="emit()" [(formInput)]="form.temp">
        </app-temp-form>
        <app-operate-form fxFlex="50" (formInputChange)="emit()" [(formInput)]="form.operate">
        </app-operate-form>

    </div>
    <div fxFlex="100">
        <app-sample-form fxFlex="50" (formInputChange)="emit()"></app-sample-form>
        <app-qty-form fxFlex="50" (formInputChange)="emit()"></app-qty-form>
    </div>
    <div fxFlex="100">
        <app-time-inspec-form fxFlex="50" [title]="'Inspection Time'" (formInputChange)="emit()" [(formInput)]="form.timeInspec">
        </app-time-inspec-form>

        <app-time-inspec-form fxFlex="50" [title]="'Report Time'" (formInputChange)="emit()" [(formInput)]="form.timeReport">
        </app-time-inspec-form>
    </div>


</div>
<div fxFlex="10" fxLayoutAlign="center stretch" fxLayout="row wrap" style="align-self:center;text-align: center;">
    <div fxFlex="100">
        <span class="material-icons-outlined cursor" style="font-size: 30px;" (click)="onDelete()">
            delete
        </span>
    </div>
</div>