<div fxLayout="row wrap" fxLayoutAlign="space-between stretch" style="margin-top: 40px;">
    <section fxFlex="30" class="section" *ngFor="let group of testingTypeMenu; let i=index">
        <mat-checkbox class="example-margin" [(ngModel)]="group.checked" color="primary">
            {{group.groupName}}
        </mat-checkbox>
        <ul>
            <li *ngFor="let list of group.list">
                <mat-checkbox [disabled]="!group.checked" [(ngModel)]="list.checked">
                    {{list.name}}
                </mat-checkbox>
            </li>
        </ul>
    </section>
</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around stretch" style="margin-top: 50px;">
    <button fxFlex="30" mat-raised-button matStepperPrevious color="accent">Back</button>
    <button fxFlex="30" mat-raised-button color="primary" (click)="onNext();">Next</button>
</div>