table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    text-align: start;
    border: 1px solid black;
}

table>tbody>tr {
    border: 1px solid black;
}

th {
    text-align: start;
}

td {
    vertical-align: text-top;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

ul,
li {
    list-style: none;
}