<div
  fxFlex="100"
  fxLayoutAlign="start stretch"
  fxLayout="row wrap"
  style="margin-bottom: 30px"
>
  <mat-accordion fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
    <mat-expansion-panel
      hideToggle
      *ngFor="let item of queues; let i = index"
      fxFlex="100"
      fxLayoutAlign="start stretch"
      fxLayout="row wrap"
      class="b-left-red"
      [ngClass]="{ 'b-left-green': item._id }"
    >
      <mat-expansion-panel-header
        class="jump"
        fxFlex="100"
        fxLayoutAlign="start stretch"
        fxLayout="row wrap"
        (click)="jump2('q' + i)"
      >
        <mat-panel-title [id]="'q' + i">
          {{ i + 1 }}. {{ item.condition.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <div
        fxFlex="100"
        fxLayoutAlign="space-between stretch"
        fxLayout="row wrap"
        class="box-body mtb-4"
      > -->
      <app-plan-detail1
        *ngIf="formInput"
        fxFlex="100"
        [index]="i"
        [item]="item"
        [formInput]="formInput"
      ></app-plan-detail1>

      <app-plan-detail2
        *ngIf="formInput && item.condition.value != 0"
        fxFlex="100"
        [index]="i"
        [item]="item"
        [formInput]="formInput"
      ></app-plan-detail2>

      <div fxFlex="100" fxLayoutAlign="end stretch" fxLayout="row wrap">
        <button
          color="primary"
          mat-button
          (click)="onDraft(item, i, item.startDate)"
        >
          <span class="material-icons-outlined"> save </span>
          SAVE DRAFT
        </button>
        <button mat-button [disabled]="!item._id" (click)="onDelete(item)">
          <span class="material-icons-outlined"> delete_outline </span>
          DELETE DRAFT
        </button>
      </div>

      <!-- </div> -->
    </mat-expansion-panel>
  </mat-accordion>
  <app-plan-reliability-test
    *ngIf="tableData"
    fxFlex="100"
    class="mt-3"
    [requestForm]="[formInput]"
    [queues]="tableData"
  >
  </app-plan-reliability-test>
</div>

<div class="shortMenu">
  <div class="d-hide" [ngClass]="{ 'd-show': jump }">
    <ul class="jump">
      <li *ngFor="let item of shortMenuOption; let i = index">
        <a (click)="jumpTo(i)"> {{ i + 1 }}.{{ item.name }} </a>
      </li>
    </ul>
  </div>
  <button mat-icon-button (click)="jump = !jump">
    <mat-icon>more_vert</mat-icon>
    Jump
  </button>
</div>
