<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="over-flow">

  <div fxFlex.gt-md="60" fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center stretch" class="content-item mt-2">

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
      <span class="box-title"> Equipments </span>
    </div>
    <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch">
      <button mat-button color="primary" (click)="openDialog();">
        <span class="material-icons-outlined">
          playlist_add
        </span>
        <span>
          NEW ITEM
        </span>
      </button>
    </div> -->

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
      <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="">
        <table fxFlex="100" mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
            <td mat-cell *matCellDef="let row;let i = index"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let row"> {{row.code |uppercase}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name |uppercase}} </td>
          </ng-container>

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.no |uppercase}} </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
            <td mat-cell *matCellDef="let row"> {{row.location |uppercase}} </td>
          </ng-container>

          <ng-container matColumnDef="qrcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> QR code </th>
            <td mat-cell *matCellDef="let row">
              <img [src]="row.qrcode" alt="" style="width: 150px; height: 150px;">
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"
            </td>
          </tr>
        </table>

        <mat-paginator fxFlex="100" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
        </mat-paginator>
      </div>

    </div>


  </div>








</div>
