<div fxLayoutAlign="center stretch" fxLayout="row wrap" class="overflow">
    <div *ngIf="form" fxFlex.gt-md="80" fxFlex.lt-md="100" fxLayoutAlign="center stretch" fxLayout="row wrap" class="box-body mtb-4">
        <app-step1 fxFlex="100" [step1]="form.step1"></app-step1>
        <app-step2 fxFlex="100" [step2]="form.step2"></app-step2>
        <app-step3 fxFlex="100" [step3]="form.step3"></app-step3>
        <app-step4 fxFlex="100" [step4]="form.step4"></app-step4>

        <mat-divider fxFlex="100" style="margin: 20px 0;"></mat-divider>

        <app-qe-chamber-planning fxFlex="100" [data]="dataSource" (dataChange)="emitted($event)"></app-qe-chamber-planning>
        <app-qe-chamber-planning-detail *ngIf="chamberTable" fxFlex="100" [(data)]="chamberTable" (dataChange)="dataChange($event)" (tableChange)="tableChange($event)" (approveChange)="approveChange($event)">
        </app-qe-chamber-planning-detail>
        <button fxFlex="100" mat-raised-button (click)="submit()" color="primary" [disabled]="validButtonSubmit()">
      <span class="material-icons-outlined">
        send
      </span>
      SEND SUBMIT
    </button>
    </div>

</div>