<div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">

    <mat-form-field appearance="fill" fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100">
        <mat-label>Inspection Require/Specification</mat-label>
        <mat-select [(ngModel)]="inspection" (ngModelChange)="emit()">
            <mat-option [value]="null">-</mat-option>
            <mat-option *ngFor="let item of items" [value]="item.value">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100">
        <mat-label>Inspection Require/Specification Detail</mat-label>
        <textarea [(ngModel)]="inspectionDetail" matInput [rows]="2" (input)="emit()"></textarea>
    </mat-form-field>


</div>