.text-center {
    text-align: center !important;
}

.card {
    // border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

.body {
    text-align: center;
    min-height: 65px;
    align-self: center;
    position: relative;
    border-bottom: 1px solid black;
}

.body span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: medium;
    text-transform: uppercase;
}

.date {
    text-align: center;
    border-bottom: 1px solid black;
}

.footer {
    text-align: center;
}