<div *ngIf="data" fxLayoutAlign="center stretch" fxLayout="row wrap" class="overflow">
    <div fxFlex="80" fxLayoutAlign="space-around stretch" fxLayout="row wrap" class="box-body">
        <app-step1 *ngIf="foo" fxFlex="100" [(step1)]="foo.step1"></app-step1>
        <app-step2 *ngIf="foo" fxFlex="100" [(step2)]="foo.step2"></app-step2>
        <app-step3 *ngIf="foo" fxFlex="100" [(step3)]="foo.step3"></app-step3>
        <app-step4 *ngIf="foo" fxFlex="100" [(step4)]="foo.step4"></app-step4>
        <app-step5 *ngIf="foo" fxFlex="100" [(step5)]="foo.step5"></app-step5>
        <app-plan-reliability-test fxFlex="100" *ngIf="foo &&foo.table" [requestForm]="[foo]" [queues]="foo.table"></app-plan-reliability-test>
    </div>

</div>