<app-step1 *ngIf="step1 && show1" [(step1)]="step1"></app-step1>
<app-step2 *ngIf="step2 && show2" [(step2)]="step2"></app-step2>
<app-step3 *ngIf="step3 && show3" [(step3)]="step3"></app-step3>
<app-step4 *ngIf="step4 && step4?.data[0]?.value!=0 && show4" [(step4)]="step4"></app-step4>
<app-step5 *ngIf="step5 && show5" [(step5)]="step5"></app-step5>
<app-comment *ngIf="showComment" [comment]="form.comment"></app-comment>
<app-plan-reliability-test *ngIf="form &&form.table &&showTest" [requestForm]="[form]"
  [queues]="form.table"></app-plan-reliability-test>
<app-files-report *ngIf="form && form.queues && showReport" [form]="form" [queues]="form.queues"
  [show]="false"></app-files-report>