<div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap" fxLayoutGap="30">
  <ng-container *ngFor="let cor of corporate; let i=index">
    <div fxFlex="20" class="card-head card-head-item">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{cor.name|uppercase}}</mat-card-title>
          <mat-card-subtitle>remain request</mat-card-subtitle>
        </mat-card-header>
        <div style="background-color: rgb(163, 163, 163); height: 11rem;" fxLayoutAlign="center center">
          <span class="text-number"> {{cor.value}} </span>
        </div>
      </mat-card>

    </div>
  </ng-container>

</div>

<!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" style="margin: 20px 0;">
    <div class="flip-card" *ngFor="let item of corporate; let i=index">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">
            {{item.name |uppercase}}
          </p>
          <p class="title-sub">
            <span class="material-icons-outlined">
              timeline
            </span> {{item.value}}
          </p>
        </div>
        <div class="flip-card-back">
          <p class="title">Corporate {{item.name |uppercase}}</p>
          <p class="title-sub">
            <span class="material-icons-outlined">
              timeline
            </span>
            Remain: {{item.value}}
          </p>

        </div>
      </div>
    </div>

  </div>

</div> -->