<div fxLayoutAlign="start stretch" fxLayout="row wrap" class="content-item">
  <!-- <mat-divider fxFlex="100" style="margin: 20px 0 ;"></mat-divider> -->

  <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
      <span class="box-title">
        Testing Condition
      </span>
    </div>

    <div class="box-body" fxFlex="100" fxLayoutAlign="space-between stretch" fxLayout="row wrap">

      <app-condition-table *ngIf="step4?.data && step4?.data[0]?.value!=0" fxFlex="100"
        [(data)]="step4.data"></app-condition-table>
      <app-condition-table-no-chamber *ngIf="step4?.data && step4?.data[0].value==0" fxFlex="100" [(data)]="step4.data">

      </app-condition-table-no-chamber>
    </div>

  </div>


</div>