<div id="print" style="width: 300px; height: 110px">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vel nulla
  alias tempora eos, deleniti laudantium et voluptas illo reprehenderit laborum
  rerum ullam provident modi nam sint voluptatibus? Saepe, magnam.
</div>
<!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
  <table id="print" style="margin-top: 40px; width: 600px; height: 300px">
    <tr>
      <th style="width: 300px; height: 100%">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <canvas id="canvas"></canvas>
        </div>
      </th>
      <th style="width: 300px">
        <tr>
          item1
        </tr>
        <tr>
          item1
        </tr>
        <tr>
          item1
        </tr>
        <tr>
          item1
        </tr>

      </th>
    </tr>
  </table>
</div> -->
<button mat-raised-button (click)="handlePrint()">print</button>
