<div fxLayoutAlign="space-around stretch" fxLayout="row wrap" class="box-input">
    <div fxFlex="40" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <label for="" fxFlex="100">
            High temperature
        </label>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Temperature</mat-label>
            <input matInput placeholder="60°±2C " [(ngModel)]="form.high" (change)="emitChange()">
            <mat-icon matSuffix [matMenuTriggerFor]="menu1" style="cursor: pointer;">more_vert</mat-icon>
        </mat-form-field>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item *ngFor="let item of symbolList" (click)="symbolHigh(item)">{{item}}</button>
        </mat-menu>
    </div>

    <div fxFlex="40" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <label for="" fxFlex="100">
            Low temperature
        </label>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Temperature</mat-label>
            <input matInput placeholder="60°±2C " [(ngModel)]="form.low" (change)="emitChange()">
            <mat-icon matSuffix [matMenuTriggerFor]="menu2" style="cursor: pointer;">more_vert</mat-icon>
        </mat-form-field>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item *ngFor="let item of symbolList" (click)="symbolLow(item)">{{item}}</button>
        </mat-menu>
    </div>

    <div fxFlex="40" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <label for="" fxFlex="100">
            Humidity
        </label>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Humidity</mat-label>
            <input matInput placeholder="60°±2C " [(ngModel)]="form.humidity" (change)="emitChange()">
            <mat-icon matSuffix [matMenuTriggerFor]="menu3" style="cursor: pointer;">more_vert</mat-icon>
        </mat-form-field>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item *ngFor="let item of symbolList" (click)="symbolHumidity(item)">{{item}}</button>
        </mat-menu>
    </div>

    <div fxFlex="40" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <mat-form-field fxFlex="100" class="example-chip-list" appearance="fill">
            <mat-label>Inspection: Interval(hr)</mat-label>
            <mat-chip-list #time1 aria-label="Time selection">
                <mat-chip *ngFor="let time of form.timeInspec" (removed)="removeTimeInspec(time)">
                    {{time}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New time..." #timeInspecInput [formControl]="timeInspecCtrl" [matAutocomplete]="auto1" [matChipInputFor]="time1" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTimeInspec($event)">
            </mat-chip-list>
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedTimeInspec($event)">
                <mat-option *ngFor="let item of timeInspecFiltered | async" [value]="item">
                    {{item}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxFlex="40" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <mat-form-field fxFlex="100" class="example-chip-list" appearance="fill">
            <mat-label>Request Report with Interval(hr)</mat-label>
            <mat-chip-list #time2 aria-label="Time selection">
                <mat-chip *ngFor="let time of form.timeReport" (removed)="removeTimeReport(time)">
                    {{time}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New time..." #timeReportInput [formControl]="timeReportCtrl" [matAutocomplete]="auto2" [matChipInputFor]="time2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTimeReport($event)">
            </mat-chip-list>
            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedTimeReport($event)">
                <mat-option *ngFor="let item of timeReportFiltered | async" [value]="item">
                    {{item}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>