<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <h3>Reject Form</h3>
  <mat-form-field fxFlex="100" appearance="fill">
    <mat-label>Comment</mat-label>
    <textarea [(ngModel)]="comment" matInput></textarea>
  </mat-form-field>
  <mat-form-field fxFlex="100" appearance="fill">
    <mat-label>Select User</mat-label>
    <mat-select [(ngModel)]="select">
      <mat-option *ngFor="let item of data.option" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch">
    <div fxFlex="auto">
    </div>
    <button mat-button (click)="onCancel()" style="margin-right: 10px;">
      Cancel
    </button>
    <button [disabled]="!select" mat-raised-button color="warn" (click)="onSubmit()">
      Reject
    </button>
  </div>
</div>