<mat-dialog-content class="mat-typography">
    <mat-spinner *ngIf="load"></mat-spinner>
    <table *ngIf="!load">
        <tr style="background-color: darkseagreen;">
            <th align="center" colspan="3">OPERATE GROUP ALL</th>
        </tr>
        <tr>
            <th>GROUP NO</th>
            <th>CODE</th>
            <th>NAME</th>
        </tr>
        <ng-container *ngFor="let group of groupList; let i_group=index">
            <ng-container *ngFor="let operate of group.operate; let i_operate=index">
                <tr [style.backgroundColor]="'#eaeaea'" class="pointer row-hover" (click)="onSelect(group,operate)">
                    <td align="center">
                        {{i_group+1}}.{{i_operate+1}}
                    </td>
                    <td align="center">
                        {{group.code |uppercase}}
                    </td>
                    <td align="center">
                        {{group.name}}
                    </td>
                </tr>
                <tr>
                    <th>Checker</th>
                    <th>Power</th>
                    <th>Attachment</th>
                </tr>
                <tr>
                    <td>
                        <tr class="item">
                            <th>Code</th>
                            <th>Name</th>
                            <th>Qy</th>
                        </tr>
                        <tr class="item">
                            <td>
                                {{operate.checker.code |uppercase}}
                            </td>
                            <td>
                                {{operate.checker.name}}
                            </td>
                            <td>
                                {{operate.checker.qty}}
                            </td>
                        </tr>
                    </td>
                    <td>
                        <tr class="item">
                            <th>Code</th>
                            <th>Name</th>
                            <th>Qy</th>
                        </tr>
                        <tr class="item">
                            <td>
                                {{operate.power.code |uppercase}}
                            </td>
                            <td>
                                {{operate.power.name}}
                            </td>
                            <td>
                                {{operate.power.qty}}
                            </td>
                        </tr>
                    </td>
                    <td>
                        <tr class="item">
                            <th>Code</th>
                            <th>Name</th>
                            <th>Qy</th>
                        </tr>
                        <tr class="item">
                            <td>
                                {{operate.attachment.code |uppercase}}
                            </td>
                            <td>
                                {{operate.attachment.name}}
                            </td>
                            <td>
                                {{operate.attachment.qty}}
                            </td>
                        </tr>
                    </td>

                </tr>
            </ng-container>


        </ng-container>

    </table>

</mat-dialog-content>