<div fxLayout="row wrap" fxLayoutAlign="space-evenly start" style="margin-top: 40px;">
    <table fxFlex.lg="60" fxFlex.md="80" fxFlex.sm="100">
        <tr>
            <td style="text-align: center; padding: 20px;">
                Request By
            </td>
            <td style="text-align: center;">
                Approve By
            </td>
        </tr>
        <tr>
            <td style=" padding: 50px; text-align: center;">
                {{userLogin?.name}}
            </td>
            <td style=" padding: 50px; text-align: center;">
                <!-- <mat-form-field appearance="legacy" class="w-full">
                    <mat-label></mat-label>
                    <input disabled matInput>
                </mat-form-field> -->

                <mat-form-field appearance="legacy">
                    <mat-label></mat-label>
                    <mat-select [formControl]="userApprove">
                        <mat-option *ngFor="let item of userApproveList; let i=index" [value]="item">
                            {{item.name|uppercase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px">
                {{dateRequest|date}}
            </td>
            <td style="text-align: center;">

            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px">
                Staff or Upper Level
            </td>
            <td style="text-align: center;">
                Engineer or Upper Level
            </td>
        </tr>
    </table>
</div>
<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayoutAlign="space-around stretch" style="margin-top: 10px;">
    <button fxFlex="30" mat-raised-button matStepperPrevious color="accent">Back</button>
    <button fxFlex="30" mat-raised-button matStepperNext color="primary" [disabled]="userApprove.invalid" (click)="onSubmit();">Submit</button>
    <!-- <button fxFlex="100" mat-raised-button matStepperNext color="primary" [disabled]="validButtonSubmit()" (click)="onSubmit();">Submit</button> -->
</div>