.container {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    color: #666666;
}

.card {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 40px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.card-head {
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #b1e2a5;
}

.card-title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
}

.card-title2 {
    font-size: 40px;
    font-weight: 900;
    // letter-spacing: 6px;
    margin-bottom: 10px;
    padding: 10px;
    // background-color: #f0f0f0;
    line-height: normal;
}

.mat-raised-button {
    background-color: #383838;
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
}