.container {
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  color: #666666;
}

// .card {
//   width: 33%;
//   background-color: rgb(255, 255, 255);
//   // background-color: rgba(255, 255, 255, 0.959);
//   border-radius: 10px;
//   overflow: hidden;
//   position: relative;
//   padding: 40px;
//   box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
// }

// .card-head {
//   margin: 10px 0;
//   padding: 20px;
//   border-radius: 10px;
//   // background-color: #b1e2a5;
//   // background-color: #6cb8b8;
//   background-color: rgb(8, 142, 167);
// }

.card-title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 5px;
}

.card-title2 {
  font-size: 40px;
  font-weight: 900;
  // letter-spacing: 6px;
  margin-bottom: 10px;
  padding: 10px;
  // background-color: #f0f0f0;
  line-height: normal;
  color: rgb(31, 31, 31);
  letter-spacing: 2px;
  font-family: monospace;
  text-transform: uppercase;
}

.mat-raised-button {
  background-color: #383838;
  padding: 10px 20px;
  color: white;
  font-weight: 900;
  letter-spacing: 3px;
}
// ::ng-deep .mat-sidenav-container,
// .container {
//   background-image: url("/assets/bg-5.png");
//   height: 100%;
//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   object-fit: cover;
//   object-position: right;
// }

.card-login {
  width: 440px;
  height: 600px;
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.card-head {
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  // background-color: #b1e2a5;
  // background-color: #6cb8b8;
  // background-color: rgb(8, 142, 167);
}
::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: inherit;
}
.btn-submit {
  background-color: #111113a3;
  font-family: monospace;
}
.btn-submit2 {
  background-color: rgb(23 171 255);
  font-family: monospace;
}
::ng-deep mat-label {
  font-family: monospace;
}

.card-foot {
  height: 200px;
}

.text-login-sso {
  margin-left: 10px;
  cursor: pointer;
}
.text-login-sso:hover {
  color: blue;
  text-decoration: underline;
}
