<div fxFlex="100" fxLayoutAlign="start start" fxLayout="row wrap" class="box-body mtb-4">
  <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row wrap">
    <button mat-stroked-button color="primary">{{ index + 1 }}.1 DETAIL</button>
  </div>
  <div fxFlex="100" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutGap="10" style="margin-top: 1rem;">
    <mat-form-field fxFlex="fill" *ngIf="item.condition" appearance="legacy" style="width: 300px;">
      <mat-label>Condition Name</mat-label>
      <input matInput [(ngModel)]="item.condition.name" [readonly]="true" />
    </mat-form-field>
    <mat-form-field *ngIf="item.work" appearance="legacy">
      <mat-label>Qty</mat-label>
      <input matInput [(ngModel)]="item.work.qty" [readonly]="true" />
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10">
    <table>
      <colgroup>
        <col width="100px">
        <col width="200px">
        <col width="200px">
      </colgroup>
      <thead>
        <tr>
          <th>
            Inspection Time
          </th>
          <th>
            Start
          </th>
          <th>
            End
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let inspec of item.inspectionTime; let i_inspec = index">
          <tr class="row-normal" [ngClass]="{'row-green': inspec.pass}">
            <td style="text-align: end;">
              <span *ngIf="inspec.pass">
                ✔️
              </span>
              {{inspec.at}}
            </td>
            <td style="text-align: center;">
              {{ inspec.startDate | date : "dd-MMM-YY, HH:mm" }}
            </td>
            <td style="text-align: center;">
              {{ inspec.endDate | date : "dd-MMM-YY, HH:mm" }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>


  </div>
  <mat-divider fxFlex="100" style="margin: 10px"></mat-divider>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10">
    <table>
      <colgroup>
        <col width="200px">
        <col width="200px">
      </colgroup>
      <thead>
        <tr>
          <th>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <h3 style="margin: 0;">
                IN
              </h3>
              <input id="inputId" type="text" class="input-scan" [(ngModel)]="inputText"
                (keydown)="scan($event,'in','inputId')">
            </div>
          </th>
          <th>
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let scan of item.scans; let i_inspec = index">
          <tr *ngIf="scan.action == 'in'">
            <td style="text-align: start;">
              {{scan.code}}
            </td>
            <td style="text-align: center;">
              {{ scan.scanDate | date : "dd-MMM-YY, HH:mm:ss" }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <table>
      <colgroup>
        <col width="200px">
        <col width="200px">
        <col width="150px">
        <col width="100px">
      </colgroup>
      <thead>
        <tr>
          <th>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <h3 style="margin: 0;">
                OUT
              </h3>
              <input id="outputId" type="text" class="input-scan" [(ngModel)]="outputText"
                (keydown)="scan($event,'out','outputId')">
            </div>
          </th>
          <th>
            Date
          </th>
          <th>
            Diff Time
          </th>
          <th>
            Total time
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let scan of item.scans; let i_inspec = index">
          <tr *ngIf="scan.action == 'out'">
            <td style="text-align: start;">
              {{scan.code}}
            </td>
            <td style="text-align: center;">
              {{ scan.scanDate | date : "dd-MMM-YY, HH:mm:ss" }}
            </td>
            <td>
              Hour: {{scan.diff_hour}} Min: {{scan.diff_min}}
            </td>
            <td>
              Hour: {{scan.total_hour}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start"
    *ngFor="let inspec of item.inspectionTime; let i_inspec = index" style="margin: 5px 0">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20">
      <div fxLayoutAlign="start center">
        <label for="">Inspection Time : </label>
        <span class="text-bold" style="color: rgb(255, 121, 32)">
          {{ inspec.at }}
        </span>
      </div>
      <div fxLayoutAlign="start center">
        <label for="">Start Date : </label>
        <span class="text-bold" style="color: blue">
          {{ inspec.startDate | date : "dd-MMM-YY, HH:mm:ss" }}
        </span>
      </div>
      <div fxLayoutAlign="start center">
        <label for="">End Date : </label>
        <span class="text-bold" style="color: blue">
          {{ inspec.endDate | date : "dd-MMM-YY, HH:mm:ss" }}
        </span>
      </div>
    </div>
    <mat-divider fxFlex="100" style="margin: 10px"></mat-divider>
  </div> -->
</div>
