<div fxLayoutAlign="center stretch" fxLayout="row wrap" class="overflow">
  <div fxFlex="80" fxLayoutAlign="space-around stretch" fxLayout="row wrap" class="mt-2">
    <app-views fxFlex="100" *ngIf="form" [showReport]="false" [formInput]="form"></app-views>
    <mat-form-field fxFlex="100" appearance="fill" class="content-item">
      <mat-label>SEND TO...</mat-label>
      <mat-select [compareWith]="objectComparisonFunction" [(ngModel)]="approve.selected">
        <mat-option *ngFor="let item of userApprove; let i=index" [value]="item">
          {{approve.groupStatus? approve.name: item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-approve-form *ngIf="form" fxFlex="100" [reject]="true" [userApprove]="approve" [data]="form">
    </app-approve-form>


  </div>

</div>