<div fxLayoutAlign="start stretch" fxLayout="row wrap" class="content-item">


  <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">

    <div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
      <span class="box-title">
        Comment
      </span>
    </div>

    <div class="box-body" fxFlex="100" fxLayoutAlign="space-between stretch" fxLayout="row wrap">
      <ng-container *ngIf="validTypeString()">
        <span *ngIf="comment">
          {{comment}}
        </span>
        <span *ngIf="!comment">
          No comment.
        </span>
      </ng-container>
      <ng-container *ngIf="!validTypeString()">
        <span *ngIf="comment.length!==0" style="white-space: pre-line;">
          <p *ngFor="let item of comment; let i=index" style="white-space: pre-line;">
            {{item}}
          </p>
        </span>
      </ng-container>


      <!-- <span *ngIf="comment.length!==0" style="white-space: pre-line;">
        <p *ngFor="let item of comment; let i=index" style="white-space: pre-line;">
          {{item}}
        </p>
      </span> -->

    </div>

  </div>
</div>