<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
    <h2 class="text-head-success">SUCCESS</h2>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch" style="margin-top: 2rem;">
    <span>
      Auto Closing ...
    </span>
  </div>
</div>