<div fxLayout="row wrap" fxLayoutAlign="start stretch">
    <h3 fxFlex="100">
        Operate Group.
    </h3>

    <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>code</mat-label>
        <input [readonly]="true" matInput [(ngModel)]="form.code">
    </mat-form-field>

    <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>name</mat-label>
        <input matInput [(ngModel)]="form.name">
    </mat-form-field>

    <button mat-button (click)="addOperate()">Action</button>

    <ng-container *ngFor="let operate of form.operate; let i=index">

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>checker</mat-label>
            <mat-select [(ngModel)]="operate.checker.code">
                <mat-option *ngFor="let item of itemList" [value]="item.code">
                    {{item.name |uppercase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>qty</mat-label>
            <input matInput [(ngModel)]="operate.checker.qty">
        </mat-form-field>

    </ng-container>





    <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>status</mat-label>
        <input matInput>
    </mat-form-field>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch">
        <button mat-button color="accent" mat-dialog-close>Cancel</button>
        <button *ngIf="!data" mat-button color="primary" mat-dialog-close (click)="onAdd()">Add</button>
        <button *ngIf="data" mat-button color="primary" mat-dialog-close (click)="onEdit()">Save</button>
    </div>

</div>