.title {
    line-height: 50px;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    align-self: center;
    text-align: center;
}

.c-red {
    color: red;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    color: red !important;
}

.content-condition {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align {
    margin-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.fc-blue {
    color: #3f51b5;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: larger;
}