<div fxLayoutAlign="space-around stretch" fxLayout="row wrap">
    <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Select Condition</mat-label>
        <mat-select [(ngModel)]="selected" (ngModelChange)="onSelected()">
            <mat-option [value]="0">
                -
            </mat-option>
            <mat-option *ngFor="let item of conditionList; let i=index" [value]="item">
                {{i+1}}.{{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="example-action-buttons">
        <button mat-button (click)="allExpandStatus = true">Expand All</button>
        <button mat-button (click)="allExpandStatus = false">Collapse All</button>
    </div>
    <mat-accordion class="example-headers-align" multi fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap" *ngFor="let con of conditions; let i=index">
        <mat-expansion-panel [expanded]="allExpandStatus">
            <mat-expansion-panel-header>
                <mat-panel-title class="fc-blue">
                    {{i+1}}.{{con.name}}
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-temp-form-component (deleteChange)="onDelete(i)" [icon]="'ac_unit'" [titleText]="'Low Temp'" [(data)]="con.data" fxFlex="100" *ngIf="con.value===1">
            </app-temp-form-component>

            <app-temp-form-component (deleteChange)="onDelete(i)" [icon]="'thermostat'" [titleText]="'High Temp'" [(data)]="con.data" fxFlex="100" *ngIf="con.value===2">
            </app-temp-form-component>

            <app-temp-humi-form-component (deleteChange)="onDelete(i)" [(data)]="con.data" fxFlex="100" *ngIf="con.value===3">
            </app-temp-humi-form-component>

            <app-temp-humi-vibration-form-component (deleteChange)="onDelete(i)" [(data)]="con.data" fxFlex="100" *ngIf="con.value===4">
            </app-temp-humi-vibration-form-component>

            <app-high-low-form-component (deleteChange)="onDelete(i)" [(data)]="con.data" fxFlex="100" *ngIf="con.value===5">
            </app-high-low-form-component>

            <app-heat-shock-form-component (deleteChange)="onDelete(i)" [(data)]="con.data" fxFlex="100" *ngIf="con.value===6">
            </app-heat-shock-form-component>

            <mat-action-row>
                <button mat-button color="primary">
          <span class="material-icons-outlined cursor" style="font-size: 30px;" (click)="onDelete(i)">
            delete
          </span>
        </button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>




    <!-- <app-inspection-form fxFlex="100" [(inspection)]="inspection.name" [(inspectionDetail)]="inspection.detail">
    </app-inspection-form> -->

    <button fxFlex="100" mat-raised-button color="accent" (click)="onUpdateTable()">UPDATE TABLE</button>

    <mat-divider fxFlex="100" style="margin: 10px 0;"></mat-divider>

</div>
