<div fxLayoutAlign="center stretch" fxLayout="row wrap">


    <div fxFlex="80" fxLayoutAlign="start stretch" fxLayout="row wrap">
        <h1 class="box-title">
            ADD CHAMBER
        </h1>
    </div>
    <div fxFlex="80" fxLayoutAlign="center stretch" fxLayout="row wrap" class="box-shadow">
        <div fxFlex="100" fxLayoutAlign="space-around stretch" fxLayout="row wrap">
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field fxFlex="30" appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>



</div>
