<mat-dialog-content class="mat-typography">
    <div fxLayoutAlign="start stretch" fxLayout="row wrap">

        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" *ngFor="let row of rows; let i=index" (click)="onSelect(row)" class="pointer box-body mtb-2 b-1">

            <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" > -->
            <mat-form-field fxFlex.gt-lg="30" fxFlex.sm="100" appearance="legacy">
                <mat-label>CODE</mat-label>
                <input matInput [(ngModel)]="row.code" [readonly]="true">
            </mat-form-field>

            <mat-form-field fxFlex.gt-lg="30" fxFlex.sm="100" appearance="legacy">
                <mat-label>NAME</mat-label>
                <input matInput [(ngModel)]="row.name" [readonly]="true">
            </mat-form-field>

            <mat-form-field fxFlex.gt-lg="30" fxFlex.sm="100" appearance="legacy">
                <mat-label>CAPACITY</mat-label>
                <input matInput [(ngModel)]="row.capacity" [readonly]="true">
            </mat-form-field>

            <mat-form-field fxFlex.gt-lg="30" fxFlex.sm="100" appearance="legacy">
                <mat-label>SPACE</mat-label>
                <input matInput [value]="calCap(row)" [readonly]="true">
            </mat-form-field>

            <ul fxFlex.gt-lg="30" fxFlex.sm="100" style="display: contents  ; list-style: auto;">
                FUNCTION
                <li *ngFor="let function of row.function">
                    {{function.name}}
                </li>
            </ul>
            <!-- </div> -->

        </div>


    </div>

</mat-dialog-content>
