table {
    border-collapse: collapse;
    font-size: 12px;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

.section {
    list-style: none;
}

li {
    padding-left: 10px;
}

// ::ng-deep .mat-checkbox-background {
//     background-color: rgb(153, 213, 228) !important;
// }
::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
    color: black !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #75f786 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #75f786;
}