table {
    border-collapse: collapse;
    font-size: 12px;
}

table,
td,
th {
    border: 1px solid black;
    text-align: center;
}

.section {
    list-style: none;
}

li {
    padding-left: 10px;
}

::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
    color: currentColor;
}
