<div fxFlex="100" fxLayoutAlign="space-around stretch" fxLayout="row wrap">
  <span class="material-icons-outlined">
    stacked_line_chart
  </span>
  <div fxFlex="90" fxLayoutAlign="space-between stretch" fxLayout="row wrap">
    <mat-form-field fxFlex="45" appearance="fill">
      <mat-label>Hz</mat-label>
      <input matInput [(ngModel)]="form.low" (ngModelChange)="emitForm()" type="number" (click)="selectElem($event)">
      <span matSuffix>
        ~
      </span>
    </mat-form-field>
    <mat-form-field fxFlex="45" appearance="fill">
      <mat-label>Hz</mat-label>
      <input matInput [(ngModel)]="form.high" (ngModelChange)="emitForm()" type="number" (click)="selectElem($event)">
      <span matSuffix>
        Hz
      </span>
    </mat-form-field>
  </div>

</div>