<div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">

    <app-input-temp fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [icon]="'thermostat'" [title]="'High Temp'" [(form)]="form.highTemp" (formChange)="emit($event)"></app-input-temp>
    <app-input-temp fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [icon]="'ac_unit'" [title]="'Low Temp'" [(form)]="form.lowTemp" (formChange)="emit($event)"></app-input-temp>
    <app-input-time fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.time" (formChange)="emit($event)"></app-input-time>
    <app-input-cycle fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.cycle" (formChange)="emit($event)"></app-input-cycle>
    <app-input-operate fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.operate" (formChange)="emit($event)"></app-input-operate>
    <app-input-sample fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.sample" (formChange)="emit($event)"></app-input-sample>
    <app-input-qty fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.qty" (formChange)="emit($event)"></app-input-qty>
    <app-input-time-inspec fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.inspection" [title]="'Inspection'" (formChange)="emit($event)"></app-input-time-inspec>
    <app-input-time-inspec fxFlex.gt-lg="33" fxFlex.gt-md="50" fxFlex.gt-xs="100" [(form)]="form.report" [title]="'Report'" (formChange)="emit($event)"></app-input-time-inspec>
</div>