<div [formGroup]="modelGroup">
    <h4>Model Master</h4>
    <mat-form-field class="w-full" appearance="legacy">
        <mat-label>ModelName</mat-label>
        <input matInput formControlName="modelName">
    </mat-form-field>
    <mat-form-field class="w-full" appearance="legacy">
        <mat-label>ModelNo</mat-label>
        <input matInput formControlName="modelNo">
    </mat-form-field>
    <mat-form-field class="w-full" appearance="legacy">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type">
    </mat-form-field>
    <mat-form-field class="w-full" appearance="legacy">
        <mat-label>Customer</mat-label>
        <input matInput formControlName="customer">
    </mat-form-field>
    <button *ngIf="!data" [disabled]="modelGroup.invalid" mat-raised-button class="w-full" color="primary" (click)="onSubmit();">Add</button>
    <button *ngIf="data" [disabled]="modelGroup.invalid" mat-raised-button class="w-full" color="primary" (click)="onSave();">Save</button>
</div>