<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch" class="over-flow">

  <div fxFlex.gt-md="60" fxFlex="95" fxLayout="row wrap" fxLayoutAlign="start stretch" class="content-item mt-2">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <button mat-raised-button color="accent" (click)="back()">
        Back
      </button>
      <button mat-raised-button color="primary" (click)="save()">
        Save
      </button>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput [(ngModel)]="item.name">
      </mat-form-field>
      <input type="file" (change)="upload($event)">
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
      <ng-container *ngFor="let img of item.imgs; let i=index">
        <div class="image-container">
          <img [src]="img.path" alt="">
          <span class="close-btn" (click)="delete(img)">&times;</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
