::ng-deep .mat-dialog-container#mat-dialog-0 {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-auth{
  transition: 0.25s ease all;
}
.btn-auth:hover{
  background-color: aquamarine;
  color: black;
  font-weight: bold;
}
