<div fxLayout="row wrap" fxLayoutAlign="space-evenly start" style="margin-top: 40px;">
    <table fxFlex="50">
        <tr>
            <td style="text-align: center; padding: 20px;">
                Request By
            </td>
            <td style="text-align: center;">
                Approve By
            </td>
        </tr>
        <tr>
            <td style=" padding: 50px;">
                <mat-form-field appearance="legacy" class="w-full">
                    <mat-label></mat-label>
                    <input matInput [formControl]="userRequest">
                </mat-form-field>
            </td>
            <td style=" padding: 50px;">
                <mat-form-field appearance="legacy" class="w-full">
                    <mat-label></mat-label>
                    <input disabled matInput>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px">
                {{dateRequest|date}}
            </td>
            <td style="text-align: center;">
                Date
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 20px">
                Staff or Upper Level
            </td>
            <td style="text-align: center;">
                Engineer or Upper Level
            </td>
        </tr>
    </table>
</div>
<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayoutAlign="center stretch">
    <button fxFlex="100" mat-raised-button matStepperNext color="primary" (click)="onSubmit();">Submit</button>
    <!-- <button fxFlex="100" mat-raised-button matStepperNext color="primary" [disabled]="validButtonSubmit()" (click)="onSubmit();">Submit</button> -->
</div>