<form>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" style="margin-top: 40px;">
        <mat-form-field appearance="legacy" fxFlex="25" fxFlex.sm="100">
            <mat-label>Item</mat-label>
            <input matInput placeholder="Last name, First name">
        </mat-form-field>
        <mat-form-field appearance="legacy" fxFlex="25" fxFlex.sm="100">
            <mat-label>Testing Condition/Procedure</mat-label>
            <input matInput placeholder="Last name, First name">
        </mat-form-field>
        <mat-form-field appearance="legacy" fxFlex="25" fxFlex.sm="100">
            <mat-label>Temperature</mat-label>
            <input matInput placeholder="Last name, First name">
        </mat-form-field>
        <mat-form-field appearance="legacy" fxFlex="25" fxFlex.sm="100">
            <mat-label>Operate</mat-label>
            <input matInput placeholder="Last name, First name">
        </mat-form-field>




    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
        <button fxFlex="100" mat-button matStepperNext>Next</button>
    </div>
</form>