<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="80" class="box-step">
        <mat-stepper labelPosition="end" #stepper>
            <mat-step>
                <ng-template matStepLabel>Sheet Detail</ng-template>
                <app-step1-detail [(step1)]="step1"></app-step1-detail>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Test Purpose</ng-template>
                <app-step2-testing-purpose [(step2)]="step2"></app-step2-testing-purpose>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Testing Type</ng-template>
                <app-step3-testing-type-form [(step3)]="step3"></app-step3-testing-type-form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Testing Condition</ng-template>
                <app-step4-testing-condition [(step4)]="step4"></app-step4-testing-condition>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <app-step5-submit [(step5)]="step5" (step5Change)="submit()"></app-step5-submit>
            </mat-step>
        </mat-stepper>
    </div>
</div>