<div>
    <h4>Section</h4>
    <mat-form-field class="w-full" appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newMaster">
    </mat-form-field>
    <button *ngIf="!data" mat-raised-button class="w-full" color="primary" (click)="onSubmit();">
      <span class="material-icons-outlined">
        add_task
      </span>
      <span>CREATE</span>
    </button>
    <button *ngIf="data" mat-raised-button class="w-full" color="primary" (click)="onSave();">
      <span class="material-icons-outlined">
        save
      </span>
      <span>SAVE</span>
    </button>
</div>