<div fxFlex="100" fxLayoutAlign="center stretch" fxLayout="row wrap">

    <div fxLayoutAlign="center stretch" fxLayout="row wrap" class="box-table">
        <table fxFlex="auto">
            <tr>
                <th colspan="3" class="text-over">
                    CONTROL No. {{requestForm[0].step1.controlNo}}
                </th>
            </tr>
            <tr>
                <th colspan="3" class="upper-text s-20">
                    Over All Plan Reliability Test
                </th>
            </tr>
            <tr>
                <th width="33%">Model No. </th>
                <th width="33%">Model Name </th>
                <th width="33">Requestor </th>
            </tr>
            <tr>
                <th>{{requestForm[0].step1.modelNo}}</th>
                <th>{{requestForm[0].step1.modelName }}</th>
                <th>{{htmlUserRequest(requestForm[0].step5) |uppercase}}</th>
            </tr>
        </table>

        <table fxFlex="100">
            <thead>
                <tr>
                    <th [attr.colspan]="queues.header.length +1" class="upper-text" style="background-color: rgb(141, 141, 218);">
                        Inspection & Report Result
                    </th>
                </tr>
                <tr>
                    <th width="10%" class="upper-text c-blue">
                        Condition
                    </th>
                    <ng-container>
                        <th width="10%" *ngFor="let head of queues.header; let i=index" class="upper-text c-blue">
                            {{head |uppercase}}
                        </th>
                    </ng-container>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th style="z-index: 2;">
                        Sample Receive
                    </th>
                    <ng-container>
                        <th *ngFor="let re of queues.receive; let i=index">
                            {{re}}
                        </th>
                    </ng-container>
                </tr>

                <ng-container *ngFor="let row of queues.data; let i_row=index">

                    <tr align="center" [ngClass]="{'bg-grey': renderColor(i_row)|| false}">

                        <ng-container *ngFor="let col of row; let i_col=index">
                            <th *ngIf="i_col==0">
                                <ul>
                                    <li *ngFor="let c of col; let i_c=index">
                                        <span *ngIf="i_c==0">
                      {{c |uppercase}}
                    </span>
                                        <span *ngIf="i_c==1" style="color: red;">
                      {{c |uppercase}}
                    </span>
                                    </li>
                                </ul>
                            </th>
                            <td *ngIf="i_col!=0">
                                <ul>
                                    <li *ngFor="let c of col; let i_c=index">
                                        <span *ngIf="i_c==0">
                      {{c}}
                    </span>
                                        <span *ngIf="i_c==1" style="color: red;">
                      {{c}}
                    </span>
                                    </li>
                                </ul>
                            </td>
                        </ng-container>
                    </tr>

                </ng-container>

            </tbody>

        </table>

    </div>

</div>