<div fxFlex="100" fxLayoutAlign="space-around stretch" fxLayout="row wrap">
  <span class="material-icons-outlined">
    {{ icon }}
  </span>
  <div fxFlex="90" fxLayoutAlign="space-between stretch" fxLayout="row wrap">
    <mat-form-field fxFlex="45" appearance="fill">
      <mat-label>{{ title }}</mat-label>
      <input
        matInput
        id="temp"
        type="number"
        [(ngModel)]="form.temp"
        (ngModelChange)="handleTemp()"
        (click)="selectElem($event)"
      />
      <span matSuffix> ± </span>
    </mat-form-field>
    <mat-form-field fxFlex="45" appearance="fill">
      <mat-label></mat-label>
      <input
        matInput
        id="cel"
        type="number"
        [(ngModel)]="form.tempVar"
        (ngModelChange)="handleVar()"
        (click)="selectElem($event)"
      />
      <span matSuffix> ℃ </span>
    </mat-form-field>
  </div>
</div>
