<div fxLayoutAlign="center stretch" fxLayout="row wrap" class="over-flow">

  <div id="top" fxFlex="100" fxLayoutAlign="center stretch" fxLayout="row wrap">
    <div fxFlex.lg="90" fxFlex.xl="90" fxFlex="98" fxLayoutAlign="start center" fxLayout="row wrap">


      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" class="card-head">
        <img src="assets/chart2.gif" alt="">
        <!-- <span class="material-icons-outlined" style="font-size: 100px;"> dashboard </span> -->
        <p id="text"> dashboard reliability </p>

      </div>

      <div id="corporate" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="30">
        <div fxFlex="20" class="card-head card-head-item">
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="date" (selectedChange)="changeDate()"></mat-calendar>
          </mat-card>
        </div>
        <app-corporate fxFlex="77" *ngIf="show&&corporate && corporate.length!=0"
          [corporate]="corporate"></app-corporate>
      </div>


      <div *ngIf="show" fxFlex="100" fxLayoutAlign="center center" class="line-body">
        <mat-divider fxFlex="80"></mat-divider>
      </div>

      <app-section *ngIf="show" id="section" fxFlex="100" [section]="section"></app-section>

      <div *ngIf="show" fxFlex="100" fxLayoutAlign="center center" class="line-body">
        <mat-divider fxFlex="80"></mat-divider>
      </div>


      <div id="daily" fxFlex="100" fxLayoutAlign="center stretch" fxLayout="row wrap">
        <app-daily-remain fxFlex="100" *ngIf="dailyRemain  && show" [dailyRemain]="dailyRemain"></app-daily-remain>
      </div>

      <div *ngIf="show && dailyRemain " fxFlex="100" fxLayoutAlign="center center" class="line-body mt-2">
        <mat-divider fxFlex="80"></mat-divider>
      </div>

      <app-report-status *ngIf="reportStatus && show" id="reportStatus" fxFlex="100" [data]="reportStatus" class="mt-3">
      </app-report-status>

      <div *ngIf="show &&reportStatus && reportStatus.length!=0" fxFlex="100" fxLayoutAlign="center center"
        class="line-body mt-2">
        <mat-divider fxFlex="80"></mat-divider>
      </div>

      <app-table-chamber id="chamber" fxFlex="100" *ngIf="show &&chamber && chamber.length!=0" [data]="chamber"
        class="mt-3"></app-table-chamber>

      <div *ngIf="show" fxFlex="100" fxLayoutAlign="center center" class="line-body mt-2">
        <mat-divider fxFlex="80"></mat-divider>
      </div>

      <app-table-operate-remain id="operate" fxFlex="100" *ngIf="show &&operate && operate.length!=0"
        [data]="operate"></app-table-operate-remain>

    </div>

  </div>

  <div class="overlay">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="scrollTo('top')">
      <mat-icon>arrow_drop_up</mat-icon>
      <span>GO TOP</span>
    </button>
    <button mat-menu-item (click)="scrollTo('corporate')">
      <mat-icon>sell</mat-icon>
      <span>CORPORATE</span>
    </button>
    <button mat-menu-item (click)="scrollTo('section')">
      <mat-icon>sell</mat-icon>
      <span>SECTION</span>
    </button>
    <button mat-menu-item (click)="scrollTo('daily')">
      <mat-icon>sell</mat-icon>
      <span>DAILY REMAIN</span>
    </button>
    <button mat-menu-item (click)="scrollTo('chamber')">
      <mat-icon>sell</mat-icon>
      <span>CHAMBER</span>
    </button>
    <button mat-menu-item (click)="scrollTo('operate')">
      <mat-icon>sell</mat-icon>
      <span>OPERATE</span>
    </button>
  </mat-menu>