.card-head {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    // background-color: rgb(221, 255, 179);
    background-color: rgba(255, 255, 255, 0.712);
    padding: 20px;
    margin: 30px 0;
}

.card-body {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.712);
    padding: 20px;
    // margin: 30px 0;
    height: 100%;
}

.card-head-item {
    // height: 170px;
    overflow: auto;
}

header {
    // font-size: 60px;
    // margin: 0;
    // letter-spacing: 2px;
    // font-weight: bolder;
    // text-shadow: 3px 3px 7px rgb(0 161 255);
}

#text {
    font-family: verdana;
    // text-decoration: overline;
    text-transform: capitalize;
    font-variant: small-caps;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    word-spacing: 3px;
    // background-color: rgb(84, 84, 84);
    text-shadow: rgb(0, 148, 158) 2px 2px 2px;
    line-height: normal;
}

.material-icons-outlined {
    color: rgb(0 161 255);
}

.demo-inline-calendar-card {
    min-width: 100px;
    box-shadow: none;
    background-color: initial;
}

::ng-deep .mat-card {
    min-height: 300px;
}

.example-card {
    max-width: 400px;
    background-color: initial;
    box-shadow: none;
}

.text-number {
    font-size: 9rem;
}