<div fxFlex="100" fxLayoutAlign="start stretch" fxLayout="row wrap">
    <span class="material-icons-outlined">
        build
    </span>
    <mat-form-field fxFlex="90" appearance="fill">
        <mat-label>Operate</mat-label>
        <mat-select [(ngModel)]="data" (ngModelChange)="emit()">
            <mat-option value="">
                -
            </mat-option>
            <mat-option *ngFor="let item of items" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>