<div fxLayoutAlign="space-around stretch" fxLayout="row wrap">

    <label fxFlex="100" for="">
        For Temperature and Humidity.
    </label>
    <mat-divider fxFlex="100"></mat-divider>
    <app-form-temp fxFlex="100" [(formInput)]="formTemp"></app-form-temp>

    <label fxFlex="100" for="">
        Heat Shock.
    </label>
    <mat-divider fxFlex="100"></mat-divider>
    <app-form-heat-shock fxFlex="100" [(formInput)]="formHeatShock"></app-form-heat-shock>


    <label fxFlex="100" for="">
        Vibration.
    </label>
    <mat-divider fxFlex="100"></mat-divider>
    <app-form-heat-shock fxFlex="100" [(formInput)]="formVibration"></app-form-heat-shock>

    <app-temp-form></app-temp-form>
    <app-humidity-form></app-humidity-form>
    <button mat-raised-button (click)="foo()">text</button>

</div>